@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&family=Playwrite+US+Trad:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
}

.text-shadow-md {
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  }

 #name::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #764248;
    transition: transform 0.25s ease-out;
  }
  
  #name:hover::after {
    transform: scaleX(1);
  }
  
  #name::after {
    transform-origin: bottom left;
  }